.productsShow{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

.box{
    height: auto;
    width: 200px;
    border: 1px black solid;
    margin: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.image-box{
    height: 250px;
    background-color: whitesmoke;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: darken;
}
.text-box{
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background-color: whitesmoke;
    text-align: center;
}