.productHeading{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
}
.productsShow{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

.box{
    height: auto;
    width: 200px;
    /* border: 1px black solid; */
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.image-box{
    height: 100px;
    background-color: whitesmoke;
    padding: 5px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: darken;
}
.text-box{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background-color: whitesmoke;
    text-align: center;
    flex-wrap: wrap;
}
.addCart{
    margin: 10px;
    width: 50%;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    height: 30px;
}